* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 206, 206);
}
.box {
  background-color: white;
  width: 800px;
  min-height: 600px;
  border-radius: 5px;
  padding: 30px;
}
#item {
  width: 100%;
  padding: 10px;
  font-style: 20px;
  border: none;
  outline: 0;
  box-shadow: 0px 0px 2px grey;
  border-radius: 5px;
  display: block;
}
#todobox {
  list-style: none;
  margin-top: 20px;
}

#todobox li {
  position: relative;
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  padding-right: 30px;
  text-align: justify;
  margin-top: 10px;
  user-select: none;
}
#todobox li i {
  position: absolute;
  right: 10px;
  top: 10px;
}

.done {
  text-decoration: line-through;
  color: black;
  background-color: #577696 !important;
}
